<!DOCTYPE html>
<html>

<head>
  <title>Blog Br</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--STYLES END-->
</head>

<body>

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Post br</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        {% if session.authenticated %}
        <li>
          <a class="dropdown-trigger" href="#" data-target="postsdropdown">Posts
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <ul id='postsdropdown' class='dropdown-content'>
          <li>
            <a href="/posts">Posts</a>
          </li>
          <li>
            <a href="/post">create</a>
          </li>
        </ul>
        <li>
          <a href="/logout">Logout</a>
        </li>
        {% else %}
        <li>
          <a href="/sign-up">Sign up</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    {% if session.authenticated %}

    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">Posts
            <i class="material-icons">arrow_drop_down</i>
          </a>
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="/posts">Posts</a>
              </li>
              <li>
                <a href="/post">create</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <a href="/logout">Logout</a>
    </li>
    {% else %}
    <li>
      <a href="/sign-up">Sign up</a>
    </li>
    <li>
      <a href="/login">Login</a>
    </li>
    {% endif %}
  </ul>
  <div>
    {% block body %} {% endblock %}
  </div>
  <!--SCRIPTS-->
  <script src="/dependencies/sails.io.js"></script>
  <!--SCRIPTS END-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav();
      $('.dropdown-trigger').dropdown();
      $('.collapsible').collapsible();
    });

  </script>
  {% block script %} {% endblock %}
</body>

</html>
